html {
    box-sizing: border-box;
    font-family: sans-serif serif;
    background-color: black;
}

form {
    position: relative;
    top: 70px;
    left: 35%;
}

h1 {
    position: relative;
    bottom: 20px;
    left: 400px;
    margin: 0 20%;
}
ul li img{
    width: 200px;
    height: 20vh;
}

button {
    margin: 1px;
    width: 8%;
    padding: 10px;
    color: white;
    background-color: rgb(244, 112, 24);
    border-radius: 5px;
}

button:first-of-type {
    background-color: rgb(34, 33, 33);
    color: white
}

form input {
    width: 8%;
    padding: 10px;
    border-radius: 5px;
}

div ul {
    display: flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    margin: 50px;
}

ul li {
    top: 50px;
    right: 15%;
    list-style-type: none;
}